<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatroom">
            <h2><span>Chatroom</span> {{ chatroom.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Chatroom Name</span></dt>
                <dd>
                    <span>{{ chatroom.chatroomName }}</span>
                </dd>
                <dt><span>Members</span></dt>
                <dd>
                    <span *ngFor="let members of chatroom.members; let last = last">
                        {{ members.id }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chatroom', chatroom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
